@inherits LayoutComponentBase

<PageTitle>PaymentBlazor</PageTitle>

<style>
    body {
        overflow: hidden;
    }
</style>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {

}
