@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage

<PageTitle>PaymentBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Button Style="font-weight:bold" @onclick="Logoff">Logoff</Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task Logoff()
    {
        await LocalStorage.RemoveItemAsync("jwt");

        NavManager.NavigateTo("/login");
    }
}
