@page "/index"
@attribute [Authorize]
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider


<table style="width: 100%; text-align: center;" class="table">
   <thead>
    <tr>
        <td style="font-weight:bold; font-size:16px; vertical-align: middle;">Doc</td>
        <td style="font-weight:bold; font-size:16px; vertical-align: middle;">Value</td>
        <td style="font-weight:bold; font-size:16px; vertical-align: middle;">Receiver</td>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in TransactionsList)
            {
                <tr>
                    <td>@item.Doc</td>
                    <td>@item.Value</td>
                    <td>@item.ReceiverId</td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="container">
    <Button class="button-right" Style="vertical-align:bottom">New Transaction</Button>
    @*<Button class="fixed-bottom m-3" Style="vertical-align:bottom">Delete Transaction</Button>*@

</div>




@code {
    int PageSize = 10;
    private List<Transactions> TransactionsList = new();

 }

