@page "/new-transaction"
@inject NavigationManager NavManager

<header>
    <h1 style="font-family:Courier New, Courier, monospace">
        New Transaction
    </h1>
</header>

<EditForm Model="_Transaction">
    <div class="w-25">
        <label class="form-label" style="font-weight:bold">Document / Transaction ID</label>
        <input type="text" class="form-control" @bind="_Transaction.Doc" readonly>
    </div>

    <div class="mb-3">
        <label class="form-label" style="font-weight:bold">Destinatary Email / Access Key</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" @bind="_Transaction.ReceiverKey"> 
    </div>

    <div class="mb-3">
        <label class="form-label" style="font-weight:bold">Transaction Value</label>
        <input type="text" class="form-control" placeholder="$9999" @bind="@_Transaction.Value">
    </div>

    <div class="mb-3">
        <label class="form-label" style="font-weight:bold">Note</label>
        <textarea class="form-control" rows="3" @bind="_Transaction.Note"></textarea>
    </div>

    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-success" Style="font-family:'Courier New, Courier, monospace'">
            Submit Transaction
        </button>
        <button Class="btn btn-danger" Style="font-family:'Courier New, Courier, monospace'" @onclick="Exit">
            Exit
        </button>
    </div>
</EditForm>

@code {
    private Transactions _Transaction = new();

    private void SaveTransaction()
    {
        Console.Write("ok");
    }

    private void Exit()
    {
        NavManager.NavigateTo("/index");
    }

}
